---
import Section from "./Section.astro";
---

<Section
  title="Accesorios"
  color="black"
  id="accesories"
>
  <div slot="footer" class="gap-x-6 flex mx-auto">
    <a
      class="bg-white text-sm rounded font-medium px-12 py-2 transition-colors hover:bg-black hover:text-white inline-flex justify-center items-center text-black"
      href="#"
    >
  Comrar ahora</a
    >
  </div>

  <img
    slot="background"
    alt="Accesorios"
    class="h-full w-full object-cover object-center"
    src="/Accessories.avif"
    id="bg-image-accesories"
  />
</Section>

