---
import Section from "./Section.astro";
---

<Section
  title="Model 3"
  subtitle="Concertar una prueba de conducción"
  color="white"
  id="model-3"
>
  <div slot="footer"  class="gap-x-6 flex-wrap gap-y-2 flex justify-center">
    <a
    class="bg-white w-[300px] text-sm rounded font-medium px-12 py-2 transition-colors backdrop-blur bg-white/60 hover:bg-black hover:text-white inline-flex justify-center items-center text-black"
    href="#"
    >
    Ordenar ahora</a
    >
    <a
    class=" w-[300px] bg-black text-sm rounded font-medium backdrop-blur bg-black/60 text-white px-12 py-2 inline-block transition-colors hover:border-gray-500 hover:bg-gray-500"
      href="#"
    >
    Unidad de prueba</a
    >
  </div>

  <img
    slot="background"
    alt="Model 3"
    class="h-full w-full object-cover object-center"
    src="/Model-3.avif"
    id="bg-image-model3"
  />
</Section>

